.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    font-size: 20px;
    gap: 10px;
}

.footer img {
    height: 40px;
}